/dancpp/HelloCunt/dist/
/dancpp/HelloCunt/build/
/dancpp/CppApplication_1/build/
/dancpp/CppApplication_1/dist/
/dancpp/datatypes/dist/
/dancpp/datatypes/build/
/dancpp/DataTypes/dist/
/dancpp/DataTypes/build/
/dancpp/enumeratedtypes/build/
/dancpp/enumeratedtypes/dist/
/dancpp/EnumeratedTypes/build/
/dancpp/EnumeratedTypes/dist/